In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [3]:
bat = pd.read_csv("7_Day_Window_Bat.csv",index_col = "Unnamed: 0")
pitch = pd.read_csv("7_Day_Window_Pitch.csv",index_col = "Unnamed: 0")
pitch.head()

,GS,IP,H,R,ER,BB,SO,HR,HBP,AB,...,IBB,GDP,SF,SB,CS,PO,BF,Date,Team,Home_Away
0,7.0,58.5,67.0,38.0,37.0,34.0,60.0,7.0,7.0,240.0,...,0.0,4.0,0.0,3.0,2.0,0.0,282.0,2022-04-13,WSN,1
0,6.0,47.8,51.0,32.0,31.0,27.0,56.0,9.0,5.0,198.0,...,0.0,2.0,4.0,2.0,3.0,0.0,234.0,2022-04-13,CIN,1
0,6.0,49.6,40.0,14.0,10.0,21.0,52.0,4.0,4.0,192.0,...,0.0,3.0,1.0,2.0,2.0,0.0,222.0,2022-04-13,HOU,1
0,5.0,40.5,33.0,16.0,16.0,17.0,43.0,5.0,3.0,155.0,...,0.0,6.0,2.0,2.0,0.0,1.0,177.0,2022-04-13,CHN,1
0,6.0,50.5,39.0,25.0,24.0,20.0,48.0,11.0,1.0,199.0,...,2.0,3.0,0.0,3.0,1.0,0.0,220.0,2022-04-12,LAA,1

In [4]:
bat.head()

,PA,AB,R,H,2B,3B,HR,RBI,BB,IBB,SO,HBP,SH,SF,GDP,SB,CS,Date,Team,Home_Away
0,221,193,18,41,13,1,3,17,23,0,46,3,0,2,8,2,2,2022-04-13,MIL,1
0,184,169,18,44,9,1,3,16,14,0,42,0,0,1,5,1,1,2022-04-13,PIT,1
0,231,206,24,45,10,0,9,23,22,3,39,1,0,2,4,4,1,2022-04-13,HOU,1
0,219,179,15,25,4,0,5,14,33,0,54,4,2,1,4,3,0,2022-04-13,ARI,1
0,179,163,19,34,5,0,4,18,12,0,28,3,1,0,4,5,1,2022-04-12,KCR,0

In [38]:
total = pd.concat([bat.drop_duplicates().sort_values(["Team","Date"]).add_suffix("_Bat"),pitch.drop_duplicates().sort_values(["Team","Date"]).add_suffix("_Pitch")])
total.head()

,PA_Bat,AB_Bat,R_Bat,H_Bat,2B_Bat,3B_Bat,HR_Bat,RBI_Bat,BB_Bat,IBB_Bat,...,IBB_Pitch,GDP_Pitch,SF_Pitch,SB_Pitch,CS_Pitch,PO_Pitch,BF_Pitch,Date_Pitch,Team_Pitch,Home_Away_Pitch
0,219.0,179.0,15.0,25.0,4.0,0.0,5.0,14.0,33.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,185.0,153.0,11.0,22.0,4.0,0.0,4.0,11.0,26.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,190.0,153.0,14.0,23.0,6.0,0.0,5.0,14.0,30.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,197.0,158.0,15.0,27.0,6.0,0.0,5.0,15.0,32.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,194.0,160.0,10.0,27.0,7.0,0.0,3.0,10.0,27.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
bat.sort_values(["Team","Date"])

,PA,AB,R,H,2B,3B,HR,RBI,BB,IBB,SO,HBP,SH,SF,GDP,SB,CS,Date,Team,Home_Away
0,219,179,15,25,4,0,5,14,33,0,54,4,2,1,4,3,0,2022-04-13,ARI,1
0,185,153,11,22,4,0,4,11,26,0,48,3,2,1,3,3,0,2022-04-13,ARI,1
0,190,153,14,23,6,0,5,14,30,0,51,4,2,1,3,3,1,2022-04-15,ARI,0
0,197,158,15,27,6,0,5,15,32,2,57,4,2,1,2,5,1,2022-04-16,ARI,1
0,194,160,10,27,7,0,3,10,27,2,57,4,2,1,0,4,1,2022-04-17,ARI,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,104,99,11,24,4,1,3,11,4,0,14,0,0,1,4,0,1,2023-06-13,WSN,1
0,69,65,7,15,3,0,2,7,4,0,10,0,0,0,3,0,1,2023-06-13,WSN,1
0,33,30,1,6,2,0,0,1,3,0,6,0,0,0,3,0,1,2023-06-13,WSN,1
0,33,30,1,6,2,0,0,1,3,0,6,0,0,0,3,0,1,2023-06-13,WSN,1
0,36,36,4,7,2,1,0,3,0,0,8,0,0,0,0,0,0,2023-06-14,WSN,1

In [41]:
pitch.drop_duplicates().sort_values(["Team","Date"])

,GS,IP,H,R,ER,BB,SO,HR,HBP,AB,...,IBB,GDP,SF,SB,CS,PO,BF,Date,Team,Home_Away
0,6.0,50.8,47.0,24.0,18.0,29.0,41.0,4.0,1.0,199.0,...,2.0,6.0,5.0,3.0,3.0,0.0,235.0,2022-04-13,ARI,1
0,5.0,43.2,43.0,22.0,16.0,22.0,36.0,4.0,1.0,170.0,...,2.0,4.0,5.0,2.0,3.0,0.0,199.0,2022-04-13,ARI,1
0,5.0,42.2,44.0,29.0,23.0,23.0,31.0,7.0,2.0,170.0,...,1.0,3.0,7.0,4.0,2.0,0.0,202.0,2022-04-15,ARI,1
0,5.0,41.5,39.0,26.0,21.0,22.0,33.0,8.0,3.0,166.0,...,1.0,3.0,6.0,3.0,1.0,0.0,197.0,2022-04-16,ARI,1
0,5.0,39.1,37.0,21.0,19.0,22.0,23.0,7.0,2.0,161.0,...,1.0,3.0,5.0,5.0,1.0,0.0,190.0,2022-04-17,ARI,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,4.0,32.3,32.0,17.0,16.0,15.0,31.0,7.0,0.0,129.0,...,0.0,0.0,1.0,3.0,1.0,1.0,145.0,2023-06-13,WSN,0
0,3.0,24.3,24.0,14.0,14.0,11.0,23.0,7.0,0.0,97.0,...,0.0,0.0,1.0,2.0,1.0,1.0,109.0,2023-06-13,WSN,0
0,2.0,17.0,18.0,8.0,8.0,8.0,15.0,5.0,0.0,68.0,...,0.0,0.0,0.0,1.0,1.0,1.0,76.0,2023-06-13,WSN,0
0,1.0,8.0,9.0,6.0,6.0,7.0,8.0,4.0,0.0,32.0,...,0.0,0.0,0.0,1.0,1.0,1.0,39.0,2023-06-13,WSN,0
0,1.0,8.2,8.0,5.0,4.0,1.0,7.0,2.0,1.0,33.0,...,0.0,1.0,0.0,2.0,0.0,0.0,35.0,2023-06-14,WSN,1