In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [16]:
bat_data = pd.read_csv("Clean_Bat.csv",index_col = "Unnamed: 0")
bat_data.fillna(0,inplace=True)
pitch_data = pd.read_csv("Clean_Pitch.csv",index_col = "Unnamed: 0")
pitch_data.fillna(0,inplace=True)
prior_games = pd.read_csv("Previous_Games.csv",index_col="Unnamed: 0")
bat_data.head()

,Name,Date,Opp,Team,Home_Away,PA,AB,R,H,2B,...,RBI,BB,IBB,SO,HBP,SH,SF,GDP,SB,CS
1,Willy Adames,2022-04-07,CHN,MIL,1.0,5,5,0,2,1,...,1,0,0,2,0,0,0,1,0,0
96,Hoy Park,2022-04-07,SLN,PIT,1.0,3,3,0,1,0,...,0,0,0,1,0,0,0,0,0,0
97,Jeremy Peña,2022-04-07,LAA,HOU,1.0,4,4,0,0,0,...,0,0,0,2,0,0,0,0,0,0
98,David Peralta,2022-04-07,SDN,ARI,0.0,4,2,0,0,0,...,0,2,0,1,0,0,0,0,0,0
99,Geraldo Perdomo,2022-04-07,SDN,ARI,0.0,3,2,0,0,0,...,0,1,0,1,0,0,0,0,0,0

In [24]:
bat_data.tail()

,Name,Date,Opp,Team,Home_Away,PA,AB,R,H,2B,...,RBI,BB,IBB,SO,HBP,SH,SF,GDP,SB,CS
305,Bobby Witt,2023-06-13,Cincinnati,KCR,0.0,4,4,1,1,0,...,2,0,0,1,0,0,0,0,0,1
306,Austin Wynns,2023-06-13,Boston,COL,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
307,Mike Yastrzemski,2023-06-13,St. Louis,SFN,1.0,5,4,2,1,0,...,2,1,0,0,0,0,0,0,0,0
308,Christian Yelich,2023-06-13,Minnesota,MIL,1.0,5,5,2,3,1,...,4,0,0,0,0,0,0,0,0,0
309,Masataka Yoshida,2023-06-13,Colorado,BOS,0.0,5,4,0,0,0,...,0,0,0,2,1,0,0,0,0,0

In [23]:
pitch_data[['Name','GB/FB','LD','PU','IP']].head(20)

               Name  GB/FB    LD    PU   IP
1      Víctor Arano   1.00  0.00  0.00  1.0
38     Dauri Moreta   0.00  0.00  0.50  1.0
39   Patrick Murphy   0.60  0.20  0.00  1.0
40     Hector Neris   0.00  0.00  0.00  0.1
41    Daniel Norris   0.67  0.33  0.00  1.0
42    Shohei Ohtani   0.33  0.44  0.11  4.2
43    Adam Ottavino   1.00  0.00  0.00  1.0
44     Oliver Pérez   0.33  0.00  0.33  1.1
45      Sean Poppen   0.67  0.00  0.33  1.1
46     Ryan Pressly   0.33  0.00  0.00  1.0
47     José Quijada   0.00  0.00  0.00  0.1
48      Noé Ramirez   0.33  0.33  0.33  1.2
49  David Robertson   0.67  0.00  0.00  1.0
50   Tony Santillan   1.00  0.00  0.00  1.0
51       Bryan Shaw   0.00  0.00  0.00  0.1
37     Tylor Megill   0.58  0.08  0.08  5.0
53    Craig Stammen   0.00  0.00  0.00  0.0
55   Chris Stratton   0.00  0.00  0.67  1.0
56  Spencer Strider   0.00  0.00  0.00  2.0
57    Robert Suarez   0.00  0.00  0.00  0.0